@import url('htps://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.phone-container{
    display: none;
}

@media only screen and (max-width: 1000px ){
    .pc-container{
        display: none;
    }

    .phone-container{
        display: block;
    }
}

body{
    width: 100%;
    height: 100%;
    background-color: rgb(251, 251, 250);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}


.pc-container .back-button button{
    display: inline-block;
      text-decoration: none;
      background: #222;
      color: white;
      padding: 0.75rem 1.5rem;
      border-radius: 6px;
      border:none;
      transition: background 0.2s;
    cursor: pointer;
    position: fixed;
    top: 20px;
    right: 30px;
}

.pc-container .back-button button:hover {
  background: #444;
}


.pc-container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(img/Under-Construction.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}




.phone-container .back-button button{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translateX(-50%); /* corrected */
    display: inline-block;
      text-decoration: none;
      background: #222;
      color: white;
      padding: 0.75rem 1.5rem;
      border-radius: 6px;
      border:none;
      transition: background 0.2s;
    cursor: pointer;
}

.phone-container .back-button button:hover {
  background: #444;
}

.phone-container{
    width: 100%;
    min-height: 100vh;
    padding: 5%;
    background-image: url(img/Under-Construction-phone.png);
    background-position: center;
    background-size: cover;
    align-items: center;
    justify-content: center;
}




